.DS_Store
Thumbs.db
*.log

# Android
**/.gradle/
**/build/
**/local.properties
**/.idea/
*.iml

# Node / React Native
**/node_modules/
**/.npm/
**/*.tgz

# Flutter
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock

# Xcode
**/*.xcuserstate
**/DerivedData/
